.tab-titles{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin: 0 10px;
}

.tab-title{
    text-align: center;
    height: 40px;
    align-content: center;
    margin-top: 25px;
    font-size: 20px;
}

.tab-title.active{
    background-color: var(--dark-color);
    color: var(--orange-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}