<div class="conteiner">
    <div class="text">
        <div class="text_main">
            FoxyCon 
            Save System MB 
        </div>
        <div>
            Это система хранения и получения собранного контента из единой базы для последующего использования

            <br><br>Предлагаемые кейсы использования FoxyCon Save System <br><br>
            
            Поиск новых каналов и видео<br><br>
            
            Проверка найденыx каналов в общей базе MediaBuying     
        </div>   
    </div>

    <div>
        <img src="logo.svg" alt="Описание изображения">
    </div>
</div>
