<!-- <div class="conteiner">
    <div class="text">
        <div class="text_main">
            FoxyCon 
            Save System MB 
        </div>
        <div>
            Это система хранения и получения собранного контента из единой базы для последующего использования

            <br><br>Предлагаемые кейсы использования FoxyCon Save System <br><br>
            
            Поиск новых каналов и видео<br><br>
            
            Проверка найденыx каналов в общей базе MediaBuying     
        </div>   
    </div>

    <div>
        <img src="logo.svg" alt="Описание изображения">
    </div>
</div> -->

<div class="main-wrapper">
  <div class="header">
    <div class="links">
      <button class="router-item" (click)="onClick('youtube')">
        <img class="router-item-icon" src="/assets/svg/youtube.svg">
        <span>YouTube</span>
      </button>
    </div>

    <div class="logo">
      <img src="assets/png/Logo-small.png" alt="Описание изображения">
    </div>
  </div>

  <div class="text-container">
    <p class="title">Foxycon</p>
    <p class="intro">
      Система хранения и получения собранного контента из единой базы для последующего использования
    </p>
    <p class="section-title">Предлагаемые кейсы использования</p>
    <ul class="use-cases">
      <li>Поиск новых каналов и видео</li>
      <li>Проверка наличия каналов в общей базе MediaBuying</li>
    </ul>
  </div>
</div>

