    <div class="container">

        <div class="main_form">
            

            <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
                <div class="container-form">
                    <div><h2>Авторизация</h2></div>
                    <div><input  formControlName="username" type="text" id="username" placeholder="Логин" required></div>
                    <div><input formControlName="password" type="password" id="password" placeholder="Пароль" required></div>
                    <div><button type="submit">Войти</button></div>
                </div>

            </form>

        </div>

        </div>




