  /* body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }
        form {
            background: white;
            padding: 20px;
            max-width: 300px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        input, button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
        }
        button {
            background: #ff0000;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background: #cc0000;
        }
        .hidden {
            display: none;
        }

 */
 .container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 674px;
  }


  .container-form {
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: space-evenly;
    column-gap:70px;
    width: 466px;
    height: 350px;
  }

  .main_form {
    /* Rectangle 2 */

    width: 466px;
    height: 350px;


    background: #F9E0C0;
    border-radius: 20px;

}

input {
    /* Rectangle 4 */

    width: 370px;
    height: 59px;

    background: #5E4B4B;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;

    color: #DA9E70;



}

button {
    /* Rectangle 3 */

    width: 220px;
    height: 59px;


    background: #AE4B2F;
    border-radius: 20px;

}

h2 {
    /* Авторизация */


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: justify;

color: #AE4B2F;


}

/* Group 2 */


