:host {
    display: grid;
    height: 100dvh;
    place-items: center;
    margin: 0;
}

.auth-form {
    display: grid;
    width: 790px;
    height: 160px;
    gap: 30px 20px;
    background-color: var(--orange-color);
    padding: 20px 20px;
    border-radius: 5px;
}

.inputs {
    display: grid;
    row-gap: 20px;
    align-items: center;
    height: 120px;
}

.header {
    font-size: 40px;
    text-align: center;
    height: 50px;
}