body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    text-align: center;
    /* padding: 50px; */
}
form {
    background-color: black;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    width: 100%;
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
}
button {
    background: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #cc0000;
}
.hidden {
    display: none;
}