<div class="main_conteiner">
    <div class="main_form">
        <h2>Авторизация</h2>
        <form id="loginForm" [formGroup]="form" (ngSubmit)="onSubmit()">
            
            <input formControlName="username" type="text" id="username" placeholder="Логин" required>
            <input formControlName="password" type="password" id="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>

    </div>

    <div class="logo">
        <img src="foxycon-frontend\public\logo.png" alt="">
    </div>

</div>



