

.cart-page{
    width: 102px;
    height: 91px;
    left: 243px;
    top: 2797px;

    background: #F9E0C0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: justify;
    border-radius: 20px;
}

/* 1 */
.num-page{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    
    color: #AE4B2F;
}





