.filter-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1fr;
    align-items: center;
    padding: 5px;
    width: 100%;
}

label{
    text-align: start;
    height: 20px;
    align-self: start;
    padding-top: 2px;
    font-size: 20px;
}