<form class="filters-wrapper m10" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>{{ label }}</label>

    <div class="filters">
        @for (filter of getFilters() | keyvalue; track $index) {
        <app-filter 
            [filterKey]="filter.key"
            [label]="filter.key"
            [options]="filter.value"
            [formGroup]="form"
            (valueChange)="onFilterValueChange(filter.key, $event)"
        ></app-filter>
        }
    </div>

    <button class="button">Применить</button>
</form>