.filters-wrapper{
    display: grid;
    width: calc(100% - 20px);
    grid-template-columns: 80px 1fr 150px;
    align-items: center;
    gap: 5px;
    margin: 0;
}

label{
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.filters{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: start;
    align-items: center;
}

.button{
    width: 150px;
    height: 40px;
    font-size: 20px;
}