<div class="routers ml10">
    <button class="logo-button" (click)="onClick('')">
        <img class="routers-logo" src="/assets/png/Logo-small.png" alt="">
    </button>

    <nav>
        <ul class="routers-list">
            <li>
                <button class="router-item" (click)="onClick('telegram')">
                    <img class="router-item-icon" src="/assets/svg/telegram.svg">
                    <span>Telegram</span>
                </button>
            </li>
            <li>
                <button class="router-item" (click)="onClick('youtube')">
                    <img class="router-item-icon" src="/assets/svg/youtube.svg">
                    <span>YouTube</span>
                </button>
            </li>
        </ul>
    </nav>
</div>