

        <!-- <header class="header">
            <div class="burger" onclick="toggleMenu()">
            </div>
            <nav class="nav">
                <div class="dropdown">
                    <a href="#">Главная</a>
                </div>
                
                <div class="dropdown">
                    <a href="#">YouTube</a>
                    <div class="dropdown-menu">
                        <a href="/channel_search">Поиск каналов</a>
                        <a href="/video_search">Поиск видео</a>
                    </div>
                </div>
            </nav>
        </header> -->

        

<header class="conteiner">
    <nav class="nav">
        <div class="dropdown">
            <a href="#">Telegram</a>
        </div>
        <div class="dropdown">
            <a href="#">Главная</a>
        </div>
        <div class="dropdown">
            <a href="#">YouTube</a>
            <div class="dropdown-menu">
                <a href="/channel_search">Поиск каналов</a>
                <a href="/video_search">Поиск видео</a>
            </div>
        </div>
    </nav>
</header>
