

        <header class="header">
            <!-- <div class="logo">Логотип</div> -->
            <div class="burger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav class="nav">
                <div class="dropdown">
                    <a href="#">Главная</a>
                </div>
                
                <div class="dropdown">
                    <a href="#">YouTube</a>
                    <div class="dropdown-menu">
                        <a href="pages/youtube_channel_search.html">Поиск каналов</a>
                        <a href="pages/youtube_video_search.html">Поиск видео</a>
                    </div>
                </div>
            </nav>
        </header>
