<div id="header"></div>
<h2>Фильтр поиска YouTube-каналов</h2>

<form id="filterForm" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="conteiner-form">
        <div class="conteiner-1">
            <div>Название канала</div>
            <label><input formControlName="name_channel" type="text" name="name_channel"></label>
            <div>Ссылка на канал</div>
            <label><input formControlName="link_channel" type="text" name="link_channel"></label>
            <div>Мин. просмотров</div>
            <label><input formControlName="number_views_min" type="number" name="number_views_min"></label>
        </div>
        <div class="conteiner-1">
            <div>Макс. просмотров</div>
            <label><input formControlName="number_views_max" type="number" name="number_views_max"></label>
            <div>Мин. дата добавления</div>
            <label><input formControlName="add_data_min" type="date" name="add_data_min"></label>
            <div>Макс. дата добавления</div>
            <label><input formControlName="add_data_max" type="date" name="add_data_max"></label>
        </div>
        <div class="conteiner-1">
            <div>Мин. подписчиков</div>
            <label><input formControlName="number_subscribers_min" type="number" name="number_subscribers_min"></label>
            <div>Макс. подписчиков</div>
            <label><input formControlName="number_subscribers_max" type="number" name="number_subscribers_max"></label>
            <div>Мин. видео</div>
            <label><input formControlName="number_video_min" type="number" name="number_video_min"></label>
        </div>
        <div class="conteiner-1">
            <div>Макс. видео</div>
            <label><input formControlName="number_video_max" type="number" name="number_video_max"></label>
            <div>Мин. дата создания</div>
            <label><input formControlName="created_at_min" type="date" name="created_at_min"></label>
            <div>Макс. дата создания</div>
            <label><input formControlName="created_at_max" type="date" name="created_at_max"></label>
        </div>
    </div>
    <button type="submit" >🔍 Отправить запрос</button>
</form>


<app-pagination-widget [page_num_con]="page" (incrementCountEvent)="logValue($event)"></app-pagination-widget>
<app-card-channel *ngFor="let data_cart of profiles"  [data_cart]="data_cart"> </app-card-channel> 