<div id="header"></div>
<h2>Фильтр поиска YouTube-каналов</h2>
<form id="filterForm" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Название канала: <input formControlName="name_channel" type="text" name="name_channel"></label>
    <label>Ссылка на канал: <input formControlName="link_channel" type="text" name="link_channel"></label>
    <label>Мин. просмотров: <input formControlName="number_views_min" type="number" name="number_views_min"></label>
    <label>Макс. просмотров: <input formControlName="number_views_max" type="number" name="number_views_max"></label>
    <label>Мин. дата добавления: <input formControlName="add_data_min" type="date" name="add_data_min"></label>
    <label>Макс. дата добавления: <input formControlName="add_data_max" type="date" name="add_data_max"></label>
    <label>Мин. подписчиков: <input formControlName="number_subscribers_min" type="number" name="number_subscribers_min"></label>
    <label>Макс. подписчиков: <input formControlName="number_subscribers_max" type="number" name="number_subscribers_max"></label>
    <label>Мин. видео: <input formControlName="number_video_min" type="number" name="number_video_min"></label>
    <label>Макс. видео: <input formControlName="number_video_max" type="number" name="number_video_max"></label>
    <label>Мин. дата создания: <input formControlName="created_at_min" type="date" name="created_at_min"></label>
    <label>Макс. дата создания: <input formControlName="created_at_max" type="date" name="created_at_max"></label>
    <button type="submit" >🔍 Отправить запрос</button>
</form>


<pre>
    <!-- {{profiles[0].id}} -->




    <!-- @for (profile of profiles; track profile.id) {
        <h2> </h2>
    } -->

    {{profiles | json}}

</pre>

<div *ngFor="let item of page">
    {{ item }}
  </div>

<app-pagination-widget *ngFor="let page_num of page"  [page_num]="page_num"> </app-pagination-widget>
