
<!-- 
<app-pagination-widget [page_num_con]="page" (incrementCountEvent)="logValue($event)"></app-pagination-widget>
<app-card-channel *ngFor="let data_cart of profiles"  [data_cart]="data_cart"> </app-card-channel>   
-->



<!-- <app-pagination-widget [page_num_con]="page" (incrementCountEvent)="logValue($event)"></app-pagination-widget>
<app-card-channel *ngFor="let data_cart of profiles" [data_cart]="data_cart"></app-card-channel> -->


<header tuiHeader>
    <h3 tuiTitle>
        Поиск YouTube каналов
        <span tuiSubtitle>Заполните параметры для поиска</span>
    </h3>
</header>
<br>

<form
    tuiForm="l"
    [formGroup]="form"
    [style.max-width.rem]="60"
    (ngSubmit)="onSubmit()"
>
<fieldset>
        <tui-textfield>
                    <label tuiLabel>Название 
                        канала</label>
                    <input
                        formControlName="name_channel"
                        placeholder="Например: Мой канал"
                        tuiTextfield
                    />
                    <tui-icon icon="tuiIconSearch" [tuiTooltip]="'Введите часть названия канала для поиска'"></tui-icon>
        </tui-textfield>
      
        <tui-textfield
                    tuiChevron
                    [tuiTextfieldCleaner]="false"
                >
                    <label tuiLabel>Страна</label>
    
                    <input
                        formControlName="country_sys"
                        tuiSelect
                    />
    
                    <tui-data-list-wrapper
                        *tuiTextfieldDropdown
                        new
                        [items]="country"
                    />
        </tui-textfield>
</fieldset>

<fieldset>
        <!-- <div class="big_text">
            Канал с
        </div> -->
</fieldset>
<fieldset>
    <div class="stack">

                <tui-input-slider
                    formControlName="number_subscribers_min"
                    [max]="40000000"
                    [min]="0"
                    [segments]="3000">   
                    От
                </tui-input-slider>
                <!-- <div class="ticks-labels">
                    <span>от 0 </span>
                    <span>до 40 000 000</span>
                </div>   -->
                <br>

                <tui-input-date formControlName="created_at_min">
                    От
                    <input
                        placeholder="Выберите дату"
                        tuiTextfieldLegacy
                    />
                </tui-input-date>
                <tui-error
                    formControlName="created_at_min"
                    [error]="[] | tuiFieldError | async"
                />

                
    </div>
        
    <div class="stack">

                <tui-input-slider
                    formControlName="number_subscribers_max"
                    [max]="40000000"
                    [min]="0"
                    [segments]="1">   
                    До
                </tui-input-slider>
                <!-- <div class="ticks-labels">
                    <span>от 0 </span>
                    <span>до 40 000 000</span>
                </div> -->
                <br>
                <tui-input-date formControlName="created_at_max">
                    До
                    <input
                        placeholder="Выберите дату"
                        tuiTextfieldLegacy
                    />
                </tui-input-date>
                <tui-error
                    formControlName="created_at_max"
                    [error]="[] | tuiFieldError | async"
                />
    </div>
    <div class="stack">
            <div class="big_text">
                Количество подписчиков
            </div>
            <br>
           
            <div class="big_text">
                Дата создания канала
            </div>
    </div>


    <div class="stack">
                <tui-input-slider
                    formControlName="number_video_min"
                    [max]="40000000"
                    [min]="0"
                    [segments]="1">   
                    От
                </tui-input-slider>
                <!-- <div class="ticks-labels">
                    <span>от 0 </span>
                    <span>до 40 000000</span>
                </div> -->
                <br>

            <tui-input-date formControlName="created_at_min">
                    От
                    <input
                        placeholder="Выберите дату"
                        tuiTextfieldLegacy
                    />
                </tui-input-date>
                <tui-error
                    formControlName="created_at_min"
                    [error]="[] | tuiFieldError | async"
                />

    </div>
    <div class="stack">
                <tui-input-slider
                    formControlName="number_video_max"
                    [max]="40000000"
                    [min]="0"
                    [segments]="1">   
                    До
                </tui-input-slider>
                <!-- <div class="ticks-labels">
                    <span>от 0 </span>
                    <span>до 40 000000</span>
                </div>
             -->
                <br>
            <tui-input-date formControlName="created_at_max">
                    До
                    <input
                        placeholder="Выберите дату"
                        tuiTextfieldLegacy
                    />
            </tui-input-date>
                <tui-error
                    formControlName="created_at_max"
                    [error]="[] | tuiFieldError | async"
                />
    </div>
    <div class="stack">
        <div class="big_text">
            Количество просмотров
        </div>
        <br>
        <div class="big_text">
            Дата добавления
        </div>
    </div>

    
</fieldset>
<br>
    <div class="stack">
        <button
            tuiButton
            type="submit"
        >
            <tui-icon icon="tuiIconSearch" class="tui-icon_left"></tui-icon>
            Найти каналы
        </button>
        <button
            appearance="flat"
            tuiButton
            type="reset"
            (click)="form.reset()"
        >
            Очистить
        </button>
    </div>


</form>

<app-pagination-widget [page_num_con]="page" (incrementCountEvent)="logValue($event)"></app-pagination-widget>
<app-card-channel *ngFor="let data_cart of profiles" [data_cart]="data_cart"></app-card-channel>
