/* You can add global styles to this file, and also import other style files */

:root {
  --tui-service-backdrop: #231E20; 
  /* Пример: если хотите изменить цвет фона для карточек, форм и т.д. */
  --tui-background-base: #231E20;
  --tui-border-normal: #AE4B2F;

  --tui-background-elevation-1: #AE4B2F;
  --tui-background-elevation-2: #AE4B2F;
  --tui-background-elevation-3: #AE4B2F;
  
  --tui-text-primary: #ffffff;
  --tui-text-secondary: #ffffff;
}



body {
    background-color: var(--tui-service-backdrop);
    display: flex;
  justify-content: center;
    justify-items:stretch; 
    height: 100%;
    padding: 20px;
    

}


