/* You can add global styles to this file, and also import other style files */

:root {
    --grey-color:#5E4B4B
}

body {

    display: flex;
    justify-self: center;

}


.main-conteiner {
    /* background: var(--grey-color); */
    background:var(--tui-background-elevation-1)
}

button{
  background-color: var(--tui-status-positive);
}

