<div class="custom-select no-select">
  <div class="selected" (click)="toggleDropdown()" [class.up]="isOpen">
    @if (options[selectedKey].fields === undefined) {
      <div class="selected-option">{{ options[selectedKey].label }}</div>
    } @else {
      <div class="inputs" [formGroup]="fieldGroup"> 
        @for (field of options[selectedKey].fields; track $index) {
          <input class="field-input"
            [class.active]="isActive"
            [formControlName]="field.name"            
            [type]="field.type"
            [placeholder]="field.placeholder"
            (click)="preventDropdown($event)"
            (input)="onInputUpdated($event)"
            [attr.min]="0"
          >
        }
      </div>
    }
    <span class="arrow" [class.up]="isOpen">&#9662;</span>
  </div>

  <ul class="options">
    @if (isOpen) {
      @for (key of filteredKeys; track $index) {
        <li (click)="select(key)">
          {{ options[key].label }}
        </li>
      }
    }
  </ul>
</div>
